#canvas {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.ready {
    color: #ee7600;
}

.inProgress {
    color: #eeed00;
}

.won {
    color: #006400;
}

.lost {
    color: #ee0001;
}

.draw {
    color: #7600ee;
}

#gameState {
    position: absolute;
    top: 50px;
    left: 43%;
    font-weight: 800;
    font-family: "Droid Serif";
}

#turnMsg {
    position: absolute;
    color: #1c7293;
    top: 500px;
    left: 45%;
    font-weight: 800;
    font-family: "Droid Serif";
}

#newGame {
    position: absolute;
    top: 550px;
    left: 45%;
}